<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
</head>
<body>
    <h1>{{ page_title }}</h1>

    <h3>Service Status</h3>
    <ul>
        {% for service in services %}
            <li>
                <strong>{{ service.name }}</strong>: {{ service.status.name }}
            </li>
        {% endfor %}
    </ul>
    <h3>Incidents</h3>
    {% for incident in incidents %}
    <div>
        <p>{{ incident.name }}</p>
        <p><strong>Status: </strong>{{ incident.status.name }}</p>
        <p>{{ incident.message }}</p>
        <strong>Affected Services: </strong>
        {% for service in incident.affected_services %}
            {{ service.name }} | 
        {% endfor %}
        </ul>
        {% endfor %}
    </div>
</body>
</html>